main {
    white-space: nowrap;
}

main>.title-black {
    margin-top: -20px;
    margin-bottom: 10px;
}

select,
input {
    font-family: 'Noto Sans KR', sans-serif;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 20px;
    padding: 0 20px;
    box-shadow: 0 0 10px #002c5252;

}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 40px 0 20px;
    background: url(../img/arrow.png) no-repeat right 20px center #fff;
}

main .top-box {
    display: flex;
    margin-bottom: 10px;
}

main .top-box .left {
    display: flex;
    line-height: 30px;
    margin-right: 50px;
}

main .top-box .left input::placeholder {
    color: #00559F;
}

main .top-box .right>div {
    display: flex;
    line-height: 30px;
    margin-bottom: 10px;
}

main h4 {
    color: #00559F;
    margin-right: 20px;
}


main .middle-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    height: 450px;
    margin-bottom: 10px;
}

main .middle-box .left {
    grid-column: 1 / 6;
    height: 100%;
}

main .middle-box .left .top {
    display: flex;
    margin-bottom: 10px;
}

main .middle-box .left .top>div {
    display: flex;
    line-height: 30px;
}

main .middle-box .left .middle {
    display: flex;
    margin-bottom: 10px;
}

main .middle-box .left .middle>div {
    display: flex;
    line-height: 30px;
}

main .middle-box .left .table-wrapper {
    height: 77%;
}

main .middle-box .right .table-wrapper {
    height: 85%;
}

main .table-wrapper {
    width: 100%;
    overflow: scroll;
    box-shadow: inset -5px -5px 20px #002c522f;
    margin-top: 20px;
}

main .table-wrapper::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

main .table-wrapper::-webkit-scrollbar-track {
    background-color: #D7E1EB;
    border-radius: 20px;
    box-shadow: inset 0 0 5px #002c523d;
}

main .table-wrapper::-webkit-scrollbar-thumb {
    background-color: #00559F;
    border-radius: 20px;
    box-shadow: 0 0 5px #002c523d;
}

main .table-wrapper table th {
    background-color: #D7E1EB;
    color: #00559F;
    font-weight: 700;
}

main .table-wrapper table td {
    padding: 0 20px;
}

main .table-wrapper table th,
td {
    border-bottom: 1px solid #00559f59;
    border-right: 1px solid #00559f59;
    padding: 5px 20px;
    vertical-align: middle;
    white-space: nowrap;
}

main .table-wrapper table span {
    color: #00559F;
}

main .middle-box .center {
    grid-column: 6 / 7;
    position: relative;
    top: 200px;
    align-items: center;
    height: 100%;

}

main .middle-box .center div {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-color: #00559F;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    padding: 3px 0;
}

main .middle-box .right {
    grid-column: 7 / 13;
    height: 100%;

}

main .middle-box .right .top {
    display: flex;
    color: #00559F;
    line-height: 30px;
    justify-content: space-between;
}

main .middle-box .right .top .icons {
    display: flex;
}

main .middle-box .right .top .icons span {
    margin-top: 3px;
}

main .right .table-wrapper {
    height: 72%;
}

main .bottom-box {
    width: 100%;
}

main .bottom-box .top,
main .bottom-box .bottom {
    display: flex;
    line-height: 30px;
    /* justify-content: space-between; */
}

main .bottom-box select,
main .bottom-box input {
    margin-right: 20px;
}

main .bottom-box .top {
    margin-bottom: 10px;
    /* justify-content: space-between; */
}

main .bottom-box .top select:last-child {
    margin-right: 0;
}

main .bottom-box .bottom .check {
    display: flex;
}

main .bottom-box .bottom span {
    color: #00559F;
    margin-top: 3px;
    margin-right: 5px;
}

main .bottom-box .bottom .button-wrapper {
    display: flex;
    position: absolute;
    right: 20px;
}

main .bottom-box .bottom .button-wrapper .blue-button {
    margin-right: 10px;
}

main .bottom-box .bottom .blue-button,
main .bottom-box .bottom .gray-button {
    height: 30px;
    padding: 0 20px;
}