<%-include('./top.ejs')%>

      <div class="am-content">
        <div class="page-head">

          <h2><span class="icon s7-tools"></span> 물리구조</h2>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/?project=KB_G-Branch">KB G-Branch</a></li>
            <li class="breadcrumb-item"><a href="/stat">관제</a></li>
            <li class="breadcrumb-item active">물리구조</li>
          </ol>

        </div>
        <div class="main-content">


          <div class="row">

            <!-- <div class="col-lg-4">
              <div class="card card-full-dark" style="margin:0;">
                <div class="card-header">
                  <div class="tools dropdown">
                    <a href="/stat/condition"><button class="btn btn-space btn-alt4 btn-rounded btn-xs">상태</button></a>
                    <a href="/control/server"><button class="btn btn-space btn-alt4 btn-rounded btn-xs">정보</button></a>
                  </div>
                  <span class="title"><span class="icon s7-keypad"></span> <strong>WEB : 192.168.100.100</strong></span>
                </div>
              </div>

              <div class="accordion accordion-semi mb-7" id="accordion4" style="margin:0;">
                <div class="card success">
                  <div class="card-header" id="headingOne4">
                    <button class="btn success" data-toggle="collapse" data-target="#collapseOne4" href="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4"><span class="icon s7-angle-right"> </span> WEB</button>
                  </div>
                  <div class="collapse show" id="collapseOne4" aria-labelledby="headingOne4" data-parent="#accordion4">
                    <div class="card-block" style="background:#ccc;">
                      <a href="/stat/condition"><button class="btn btn-space btn-alt4 btn-rounded btn-xs" style="float:right;">상태</button></a>
                      <a href="/control/server"><button class="btn btn-space btn-alt4 btn-rounded btn-xs" style="float:right;">정보</button></a>
                      <p><span style="font-size:2em;">80Mb</span> Memory</p>
                      <p>40Mb Stroage</p>
                      <p>1,234 Contacts / 1 Min</p>
                    </div>
                  </div>
                </div>
                <div class="card alt-color3">
                  <div class="card-header" id="headingThree4">
                    <button class="btn" data-toggle="collapse" data-target="#collapseThree4" href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4"><span class="icon s7-angle-right"> </span> CONTROL</button>
                  </div>
                  <div class="collapse" id="collapseThree4" aria-labelledby="headingThree4" data-parent="#accordion4">
                    <div class="card-block" style="background:#ccc;">
                      <a href="/stat/condition"><button class="btn btn-space btn-alt4 btn-rounded btn-xs" style="float:right;">상태</button></a>
                      <a href="/control/server"><button class="btn btn-space btn-alt4 btn-rounded btn-xs" style="float:right;">정보</button></a>
                      <p><span style="font-size:2em;">80Mb</span> Memory</p>
                      <p>40Mb Stroage</p>
                      <p>1,234 Contacts / 1 Min</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card card-full-dark">
                <div class="card-body">
                  <p>32G RAM, 200Gb SSD, AMD Ryzen 5th Genration</p>
                  <p>Linux, CentOS release 6.5 (Final) :LSB_VERSION=base-4.0-amd64:base-4.0-noarch:core-4.0</p>
                </div>
              </div>
            </div> -->


            <div class="col-lg-6">
              <div class="card card-full-dark" style="margin:0;">
                <div class="card-header">
                  <div class="tools dropdown">
                    <button class="btn btn-space btn-primary btn-rounded btn-sm">불안정</button>
                    <a href="/stat/condition"><button class="btn btn-space btn-alt4 btn-rounded btn-xs">상태</button></a>
                    <a href="/control/server"><button class="btn btn-space btn-alt4 btn-rounded btn-xs">정보</button></a>
                  </div>
                  <span class="title"><span class="icon s7-keypad"></span> <strong>AP : 192.168.100.100</strong></span>
                </div><!-- 
                <div class="card-body">
                  <p>32G RAM, 200Gb SSD, AMD Ryzen 5th Genration</p>
                  <p>Linux, CentOS release 6.5 (Final) :LSB_VERSION=base-4.0-amd64:base-4.0-noarch:core-4.0</p>
                </div> -->
              </div>

              <div class="accordion accordion-semi mb-7" id="accordion5" style="margin:0;">
                <div class="card primary">
                  <div class="card-header" id="headingOne5">
                    <button class="btn primary" data-toggle="collapse" data-target="#collapseOne5" href="#collapseOne5" aria-expanded="true" aria-controls="collapseOne5"><span class="icon s7-angle-right"> </span> GATE WAY</button>
                  </div>
                  <div class="collapse show" id="collapseOne5" aria-labelledby="headingOne5" data-parent="#accordion5">
                    <div class="card-block" style="background:#ccc;">
                      <a href="/stat/condition"><button class="btn btn-space btn-alt4 btn-rounded btn-xs" style="float:right;">상태</button></a>
                      <a href="/control/server"><button class="btn btn-space btn-alt4 btn-rounded btn-xs" style="float:right;">정보</button></a>
                      <p><span style="font-size:2em;">80Mb</span> Memory</p>
                      <p>40Mb Stroage</p>
                      <p>/home/nodejs/app.js</p>
                      <p>/home/nodejs/package.json</p>
                      <p>/home/nodejs/node_modules/ (24 dir, 1235 files)</p>
                      <p>/home/nodejs/config/ (5 dir, 10 files)</p><br>
                      <p>1,234 Contacts / 1 Min</p>
                    </div>
                  </div>
                </div>
                <div class="card warning">
                  <div class="card-header" id="headingTwo5">
                    <button class="btn" data-toggle="collapse" data-target="#collapseTwo5" href="#collapseTwo5" aria-expanded="false" aria-controls="collapsetwo5"><span class="icon s7-angle-right"> </span> BUSINESS</button>
                  </div>
                  <div class="collapse" id="collapseTwo5" aria-labelledby="headingTwo5" data-parent="#accordion5">
                    <div class="card-block" style="background:#ccc;">
                      <a href="/stat/condition"><button class="btn btn-space btn-alt4 btn-rounded btn-xs" style="float:right;">상태</button></a>
                      <a href="/control/server"><button class="btn btn-space btn-alt4 btn-rounded btn-xs" style="float:right;">정보</button></a>
                      <p><span style="font-size:2em;">80Mb</span> Memory</p>
                      <p>40Mb Stroage</p>
                      <p>/home/nodejs/app.js</p>
                      <p>/home/nodejs/package.json</p>
                      <p>/home/nodejs/node_modules/ (24 dir, 1235 files)</p>
                      <p>/home/nodejs/config/ (5 dir, 10 files)</p><br>
                      <p>1,234 Contacts / 1 Min</p>
                    </div>
                  </div>
                </div>
                <div class="card alt-color3">
                  <div class="card-header" id="headingThree5">
                    <button class="btn" data-toggle="collapse" data-target="#collapseThree5" href="#collapseThree5" aria-expanded="false" aria-controls="collapseThree5"><span class="icon s7-angle-right"> </span> CONTROL</button>
                  </div>
                  <div class="collapse" id="collapseThree5" aria-labelledby="headingThree5" data-parent="#accordion5">
                    <div class="card-block" style="background:#ccc;">
                      <a href="/stat/condition"><button class="btn btn-space btn-alt4 btn-rounded btn-xs" style="float:right;">상태</button></a>
                      <a href="/control/server"><button class="btn btn-space btn-alt4 btn-rounded btn-xs" style="float:right;">정보</button></a>
                      <p><span style="font-size:2em;">80Mb</span> Memory</p>
                      <p>40Mb Stroage</p>
                      <p>/home/nodejs/app.js</p>
                      <p>/home/nodejs/package.json</p>
                      <p>/home/nodejs/node_modules/ (24 dir, 1235 files)</p>
                      <p>/home/nodejs/config/ (5 dir, 10 files)</p><br>
                      <p>1,234 Contacts / 1 Min</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card card-full-dark">
                <div class="card-body">
                  <p>32G RAM, 200Gb SSD, AMD Ryzen 5th Genration</p>
                  <p>Linux, CentOS release 6.5 (Final) :LSB_VERSION=base-4.0-amd64:base-4.0-noarch:core-4.0</p>
                </div>
              </div>
            </div>


            <div class="col-lg-6">
              <div class="card card-full-dark" style="margin:0;">
                <div class="card-header">
                  <div class="tools dropdown">
                    <a href="/stat/condition"><button class="btn btn-space btn-alt4 btn-rounded btn-xs">상태</button></a>
                    <a href="/control/server"><button class="btn btn-space btn-alt4 btn-rounded btn-xs">정보</button></a>
                  </div>
                  <span class="title"><span class="icon s7-keypad"></span> <strong>WAS : 192.168.100.100</strong></span>
                </div><!-- 
                <div class="card-body">
                  <p>32G RAM, 200Gb SSD, AMD Ryzen 5th Genration</p>
                  <p>Linux, CentOS release 6.5 (Final) :LSB_VERSION=base-4.0-amd64:base-4.0-noarch:core-4.0</p>
                </div> -->
              </div>

              <div class="accordion accordion-semi mb-7" id="accordion6" style="margin:0;">

                <%for(let n=1;n<=5;n++){%>
                <div class="card warning">
                  <div class="card-header" id="headingTwo6_<%=n%>">
                    <button class="btn" data-toggle="collapse" data-target="#collapseTwo6_<%=n%>" href="#collapseTwo6_<%=n%>" aria-expanded="true" aria-controls="collapsetwo6_<%=n%>"><span class="icon s7-angle-right"> </span> BIZ098 - KBK_GBR_00101SK | 계좌이체</button>
                  </div>
                  <div class="collapse show" id="collapseTwo6_<%=n%>" aria-labelledby="headingTwo6_<%=n%>" data-parent="#accordion6">
                    <div class="card-block" style="background:#ccc;">
                      <a href="/stat/condition"><button class="btn btn-space btn-alt4 btn-rounded btn-xs" style="float:right;">상태</button></a>
                      <a href="/control/server"><button class="btn btn-space btn-alt4 btn-rounded btn-xs" style="float:right;">정보</button></a>
                      <p><span style="font-size:2em;">80Mb</span> Memory</p>
                      <p>40Mb Stroage</p>
                      <p>1,234 Contacts / 1 Min</p>
                    </div>
                  </div>
                </div>
                <%}%>

                <div class="card alt-color3">
                  <div class="card-header" id="headingThree6">
                    <button class="btn" data-toggle="collapse" data-target="#collapseThree6" href="#collapseThree6" aria-expanded="false" aria-controls="collapseThree6"><span class="icon s7-angle-right"> </span> CONTROL</button>
                  </div>
                  <div class="collapse" id="collapseThree6" aria-labelledby="headingThree6" data-parent="#accordion6">
                    <div class="card-block" style="background:#ccc;">
                      <a href="/stat/condition"><button class="btn btn-space btn-alt4 btn-rounded btn-xs" style="float:right;">상태</button></a>
                      <a href="/control/server"><button class="btn btn-space btn-alt4 btn-rounded btn-xs" style="float:right;">정보</button></a>
                      <p><span style="font-size:2em;">80Mb</span> Memory</p>
                      <p>40Mb Stroage</p>
                      <p>1,234 Contacts / 1 Min</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card card-full-dark">
                <div class="card-body">
                  <p>32G RAM, 200Gb SSD, AMD Ryzen 5th Genration</p>
                  <p>Linux, CentOS release 6.5 (Final) :LSB_VERSION=base-4.0-amd64:base-4.0-noarch:core-4.0</p>
                </div>
              </div>
            </div>


        </div>
      </div>

<%-include('./down.ejs')%>

<script type="text/javascript">
menuActive({
  src:'<%=src%>',
  dir:'<%=dir%>'
});

$(document).ready(function(){
  //- initialize the javascript
  App.init();
});

</script>
</body>
</html>