<%-include('./top.ejs')%>

<div class="modal fade" id="md-fullColor" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-full-color">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Full Color</h3>
        <button class="close" data-dismiss="modal" aria-hidden="true"><i class="icon s7-close"></i></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div class="i-circle primary"><i class="icon s7-check"></i></div>
          <h4>Awesome!</h4>
          <p>Changes has been saved successfully! </p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-shade1" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary btn-shade1" data-dismiss="modal">Proceed</button>
      </div>
    </div>
  </div>
</div>

      <div class="am-content">
        <div class="page-head">

          <h2><span class="icon s7-settings"></span> 설정</h2>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"><%-cfg.apps.project.proName%></a></li>
            <li class="breadcrumb-item"><a href="/method">운영</a></li>
            <li class="breadcrumb-item active">설정</li>
          </ol>

        </div>

        <style>
        table.cfgTable textarea{margin:0;width:100%;min-height:150px;background:#444;color:white;border:0;padding:20px;overflow:hidden;}
        </style>
        <div class="main-content">

          <div class="row">
            <div class="col-sm-2">
              <div class="widget widget-fullwidth widget-small">
                <table class="table table-striped table-fw-widget">
                  <thead>
                    <tr>
                      <th style="background:#ddd;font-weight:bold;">설정구분</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                  <tbody id="cfgList">
                  </tbody>
                </table>
              </div>
            </div>
            <!-- <div id="configTable" class="col-sm-10">
            </div> -->
            <div id="configCon" class="col-sm-10">
            </div>
          </div>

          <!-- <pre id="debug"></pre> -->

        </div>
      </div>

<%-include('./down.ejs')%>

<script type="text/javascript">
menuActive({
  src:'<%=src%>',
  dir:'<%=dir%>'
});

//////////////////////////////////////
let GQ={}; try{GQ=JSON.parse('<%-JSON.stringify(GQ).replace(/\'/gi,'\\\'').replace(/\"/gi,'\\\"')%>');}catch{}
let cfg={}; try{cfg=JSON.parse('<%-JSON.stringify(cfg).replace(/\'/gi,'\\\'').replace(/\"/gi,'\\\"')%>');}catch{}
let originCf={}; try{originCf=JSON.parse('<%-JSON.stringify(originCf).replace(/\'/gi,'\\\'').replace(/\"/gi,'\\\"')%>');}catch{}
//pr(cfg);

//////////////////////////////////////
const adjustHeight=()=>{
  $('textarea').each(function(i,e){
    $(e).css({'height':'auto','outline':'none'});
    let textEleHeight=$(e).prop('scrollHeight');
    $(e).css('height',textEleHeight);
  });
};

//////////////////////////////////////
let configs='';
for(let cfName in originCf){
  let cf=originCf[cfName];
  if(cf.cfgName && cf.cfgName!='appRun'){

    $('#cfgList').append('<tr>'
      +'<td><strong><a href="#'+cfName+'">'+cfName+'</a></strong><br>'+cf.cfgMemo+'</td>'
    +'</tr>');

    configs+=`
    <div class="card card-default">
      <div class="card-header" id="${cfName}">
        <button class="btn btn-space btn-success btn-sm btn-rounded cfgEditBtn" style="float:right;" data-cfname="${cfName}">설정 수정하기</button>
        <div class="card-title"><strong>${cfName}</strong> (${cf.cfgMemo})</div>
      </div>
      <div class="card-body">
        <table id="${cfName}_table" class="cfgTable table table-sm table-hover table-bordered table-striped">
          <tbody>
          <tr>
          <td style="padding:0;">
            <pre style="margin:0;">${JSON.stringify(cf,null,6)}</pre>
            <textarea spellcheck="false" style="display:none;"></textarea>
            <button class="btn btn-space btn-primary btn-sm btn-rounded cfgSaveBtn" style="margin-left:5px;display:none;" data-cfname="${cfName}">설정 저장</button>
          </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    `;

  }
}
$('#configCon').html(configs);




//////////////////////////////////////
let cfgs='';
for(let cfName in originCf){
  /*let mth=mths[method];
  $('#mthList').append('<tr>'
    +'<td><strong><a href="#'+method+'">'+method+'</a></strong><br>'+mth.methodNote+'</td>'
  +'</tr>');

  cfgs+=`
  <div class="card card-default">
    <div class="card-header" id="${mth.method}">
      <button class="btn btn-space btn-success btn-sm btn-rounded methodEditBtn" data-toggle="modal"
      data-target="#methodEditor" style="float:right;" data-method="${method}">스키마수정</button>
      <a href="/stat/server?appName=${mthToNm[method]}"><button class="btn btn-space btn-alt4 btn-sm btn-rounded statServerBtn" style="float:right;">
      ${mthToNm[method]} 서버정보</button></a>
      <div class="card-title"><strong>${mth.method}</strong> (${mth.methodNote})</div>
    </div>
    <div class="card-body">
      <table id="${mth.method}_table" class="table table-sm table-hover table-bordered table-striped">
        <thead>
          <tr>
          <th class="head">key</th>
          <th class="head">memo</th>
          <th class="head">type</th>
          <th class="head">max</th>
          <th class="head">min</th>
          <th class="head">sample</th>
          </tr>
        </thead>
        <tbody>
  `;
  for(let key in mth.schema){
   let sch=mth.schema[key];
    if(sch.type=='div')
    cfgs+=`
        <tr>
        <td class="div">${key}</td>
        <td class="div">${sch.note}</td>
        <td class="div" colspan="4">${sch.type}</td>
        </tr>
    `;
    else
    cfgs+=`
        <tr>
        <td><strong style="font-family:Verdana;">${key}</strong></td>
        <td>${sch.note}</td>
        <td>${sch.type}</td>
        <td>${sch.max}</td>
        <td>${sch.min}</td>
        <td>${sch.sample}</td>
        </tr>
    `;
  }
  cfgs+=`
        </tbody>
      </table>
    </div>
  </div>
  `;*/
  //console.log(mth);
}

//////////////////
$('#configTable').html(cfgs);


//////////////////////////////////////
//$('#cfgList').append('<tr><td><strong><a id="callCfBtn" href="#">설정내용 재로딩</a></strong></td></tr>');


$('#callCfBtn').click(()=>{
  if(confirm(
  '스키마 값을 수정하시겠습니까?\n의도하지 않은 결과를 초래할 수 있으므로\n수정에 신중을 기하여 다시 한번 확인해주시기 바랍니다.'
  )){
    let data={
     cmd:'cfgReloadAll'
    };
    //console.log(data);
    const ws=new WebSocket(dataUrl);
    ws.onopen=()=>{
      ws.send(JSON.stringify(data));
      //console.log('data server connected');
    }
    ws.onmessage=rs=>{
      //console.log(rs);
      if(rs.data){
        alert('수정에 성공했습니다.\n수정된 설정은 관련 서버프로그램을 재시동 한 후 반영됩니다.');
        ws.close();
      }
    }
    ws.onclose=()=>{
      document.location.reload();
      //console.log('data server disconnect');
    }
  }
});

//////////////////////////////////////
$('.cfgEditBtn').click(function(){
  let token=getCookie('token');
  if(token){
    let button=$(this);
    let cfName=$(this).data('cfname');
    let p=$(this).parent().parent().find('table');
    let tPre=p.find('pre');
    let tText=p.find('textarea');
    let tBtn=p.find('button');
    let flag=tPre.css('display');

    if(flag=='block'){
      delete originCf[cfName].cfgName;
      delete originCf[cfName].cfgMemo;
      tText.val(JSON.stringify(originCf[cfName],null,10));
      button.text('수정 취소하기').addClass('btn-warning').removeClass('btn-success');
      tPre.hide();
      tText.show().focus();
      tBtn.show();
      adjustHeight();
    }else{
      if(confirm('수정한 내용을 저장하지 않고 초기화 하시겠습니까?')){
        button.text('설정 수정하기').removeClass('btn-warning').addClass('btn-success');
        tText.val('');
        tPre.show();
        tText.hide();
        tBtn.hide();
      }
    }
  }
  else logout(true);
});

//adjustHeight();
$('textarea').on('keyup',function(){
  adjustHeight();
});

//////////////////
const jsonVeri=(jsonStr)=>{
  let obj=true;
  try{obj=JSON.parse(jsonStr);}
  catch{obj=false;}
  return obj;
}

//////////////////////////////////////
const cfgExt=(cfName,cfgData)=>{
  let data={
   cfName:cfName,
   cfgData:cfgData,
   cmd:'appCfgExt'
  };
  //console.log(data);
  const ws=new WebSocket(dataUrl);
  ws.onopen=()=>{
    ws.send(JSON.stringify(data));
    //console.log('data server connected');
  }
  ws.onmessage=rs=>{
    //console.log(rs);
    if(rs.data){
      alert('수정에 성공했습니다.\n수정된 설정은 관련 서버프로그램을 재시동 한 후 반영됩니다.');
      ws.close();
    }
  }
  ws.onclose=()=>{
    document.location.reload();
    //console.log('data server disconnect');
  }
}

//////////////////////////////////////
$('.cfgSaveBtn').click(function(){
  let cfName=$(this).data('cfname');
  let cfgData=jsonVeri($(this).prev().val());
  //alert(JSON.stringify(cfgData),null,8);

  if(cfName && cfgData){
    if(confirm(
      '설정 값을 수정하시겠습니까?\n설정 값 수정은 의도하지 않은 결과를 초래할 수 있으므로\n신중을 기하여 다시 한번 확인해주시기 바랍니다.'
    )) cfgExt(cfName,cfgData);
  }
  else alert('JSON 구문에 오류가 있어 수정할 수 없습니다.');
});

//$(document).ready(function(){
  //- initialize the javascript
  App.init();
//});

</script>
</body>
</html>