      <nav class="am-right-sidebar">
        <div class="sb-content">
          <div class="user-info"><span class="name">관리자 <span class="userName"></span><span class="status"></span></span></div>
          <div class="tab-navigation">
            <ul class="nav nav-tabs nav-justified" role="tablist">
              <li role="presentation"><a class="active" href="#tab1" aria-controls="home" role="tab" data-toggle="tab"> <span class="icon s7-smile"></span></a></li>
              <li role="presentation"><a href="#tab2" aria-controls="profile" role="tab" data-toggle="tab"> <span class="icon s7-chat"></span></a></li>
              <!-- <li role="presentation"><a href="#tab3" aria-controls="messages" role="tab" data-toggle="tab"> <span class="icon s7-help2"></span></a></li>
              <li role="presentation"><a href="#tab4" aria-controls="settings" role="tab" data-toggle="tab"> <span class="icon s7-ticket"></span></a></li> -->
            </ul>
          </div>
          <div class="tab-panel">
            <div class="tab-content">
              <div class="tab-pane announcement active" id="tab1" role="tabpanel">
                <div class="announcement-container">
                  <div class="announcement-wrapper">
                    <div class="am-scroller-announcement">
                      <div class="announcement-content">
                        <h2>관리자정보</h2>
                        <ul>
                          <li>
                            <div class="icon"><span class="icon s7-sun"></span></div>
                            <div class="content"><a href="#">어쩌구저쩌구</a><span>Suspendisse nec leo tortor rhoncus tincidunt. Duis sit amet rutrum elit.</span></div>
                          </li>
                          <li>
                            <div class="icon"><span class="icon s7-gift"></span></div>
                            <div class="content"><a href="#">여러가지정보</a><span>Suspendisse nec leo tortor rhoncus tincidunt. Duis sit amet rutrum elit.</span></div>
                          </li>
                          <li>
                            <div class="icon"><span class="icon s7-star"></span></div>
                            <div class="content"><a href="#">신상들</a><span>Suspendisse nec leo tortor rhoncus tincidunt. Duis sit amet rutrum elit.</span></div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="search">
                    <input type="text" placeholder="Search..." name="q"><span class="s7-search"></span>
                  </div>
                </div>
              </div>
              <div class="tab-pane chat" id="tab2" role="tabpanel">
                <div class="chat-contacts">
                  <div class="chat-sections">
                    <div class="am-scroller-chat">
                      <div class="content">
                        <h2>최근메모</h2>
                        <div class="recent">
                          <div class="user"><a href="#"><span class="icon s7-sun" style="font-size:2em;"></span>
                              <div class="user-data"><span class="status away"></span><span class="name">자꾸 이러면 뭔가 조치를</span><span class="message">Can you share the...</span></div></a></div>
                          <div class="user"><a href="#"><span class="icon s7-gift" style="font-size:2em;"></span>
                              <div class="user-data"><span class="status"></span><span class="name">취할 수 밖에 없으니 알아서</span><span class="message">I confirmed the info.</span></div></a></div>
                          <div class="user"><a href="#"><span class="icon s7-star" style="font-size:2em;"></span>
                              <div class="user-data"><span class="status offline"></span><span class="name">조심하는 게 좋을 거야</span><span class="message">Ready for the meeti...</span></div></a></div>
                        </div>
                        <h2>오래된메모</h2>
                        <div class="contact">
                          <div class="user"><a href="#"><span class="icon s7-sun" style="font-size:2em;"></span>
                              <div class="user-data"><span class="status away"></span><span class="name">자꾸 이러면 뭔가 조치를</span><span class="message">Can you share the...</span></div></a></div>
                          <div class="user"><a href="#"><span class="icon s7-gift" style="font-size:2em;"></span>
                              <div class="user-data"><span class="status"></span><span class="name">취할 수 밖에 없으니 알아서</span><span class="message">I confirmed the info.</span></div></a></div>
                          <div class="user"><a href="#"><span class="icon s7-star" style="font-size:2em;"></span>
                              <div class="user-data"><span class="status offline"></span><span class="name">조심하는 게 좋을 거야</span><span class="message">Ready for the meeti...</span></div></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="search">
                    <input type="text" placeholder="Search..." name="q"><span class="s7-search"></span>
                  </div>
                </div>
                <div class="chat-window">
                  <div class="title">
                    <div class="user"><img src="/assets/img/avatar7.jpg">
                      <h2>Maggie jackson</h2><span>Active 1h ago</span>
                    </div><span class="icon return s7-angle-left"></span>
                  </div>
                  <div class="chat-messages">
                    <div class="am-scroller-messages">
                      <div class="content">
                        <ul>
                          <li class="friend">
                            <div class="msg">Hello</div>
                          </li>
                          <li class="self">
                            <div class="msg">Hi, how are you?</div>
                          </li>
                          <li class="friend">
                            <div class="msg">Good, I'll need support with my pc</div>
                          </li>
                          <li class="self">
                            <div class="msg">Sure, just tell me what is going on with your computer?</div>
                          </li>
                          <li class="friend">
                            <div class="msg">I don't know it just turns off suddenly</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="chat-input">
                    <div class="input-wrapper"><span class="photo s7-camera"></span>
                      <input type="text" placeholder="Message..." name="q" autocomplete="off"><span class="send-msg s7-paper-plane"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane faqs" id="tab3" role="tabpanel">
                <div class="faqs-container">
                  <div class="faqs-wrapper">
                    <div class="am-scroller-faqs">
                      <div class="faqs-content">
                        <h2>FAQs</h2>
                        <div class="accordion" id="accordion" role="tablist">
                          <div class="card">
                            <div class="card-header" role="tab">
                              <h4 class="card-title"><a data-toggle="collapse" data-parent="#accordion" href="#faq1" aria-expanded="true" aria-controls="collapseOne">
                                  <div class="icon"><span class="s7-angle-down"></span></div><span class="title">Under Error 352</span></a></h4>
                            </div>
                            <div class="card-collapse collapse show" id="faq1" aria-labelledby="headingOne" data-parent="#accordion">
                              <div class="card-body">Suspendisse nec leo tortor rhoncus tincidunt. Duis sit amet rutrum elit.</div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" role="tab">
                              <h4 class="card-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq2" aria-expanded="false" aria-controls="collapseTwo">
                                  <div class="icon"><span class="s7-angle-down"></span></div><span class="title">Failure platform</span></a></h4>
                            </div>
                            <div class="card-collapse collapse" id="faq2" aria-labelledby="headingTwo" data-parent="#accordion">
                              <div class="card-body">Suspendisse nec leo tortor rhoncus tincidunt. Duis sit amet rutrum elit.</div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" role="tab">
                              <h4 class="card-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq3" aria-expanded="false" aria-controls="collapseThree">
                                  <div class="icon"><span class="s7-angle-down"></span></div><span class="title">Error 404</span></a></h4>
                            </div>
                            <div class="card-collapse collapse" id="faq3" aria-labelledby="headingThree" data-parent="#accordion">
                              <div class="card-body">Suspendisse nec leo tortor rhoncus tincidunt. Duis sit amet rutrum elit.</div>
                            </div>
                          </div>
                          <div class="card">
                            <div class="card-header" role="tab">
                              <h4 class="card-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq4" aria-expanded="false" aria-controls="collapseThree">
                                  <div class="icon"><span class="s7-angle-down"></span></div><span class="title">New workstation</span></a></h4>
                            </div>
                            <div class="card-collapse collapse" id="faq4" aria-labelledby="headingFour" data-parent="#accordion">
                              <div class="card-body">Suspendisse nec leo tortor rhoncus tincidunt. Duis sit amet rutrum elit.</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="search">
                    <input type="text" placeholder="Search..." name="q"><span class="s7-search"></span>
                  </div>
                </div>
              </div>
              <div class="tab-pane ticket" id="tab4" role="tabpanel">
                <div class="ticket-container">
                  <div class="ticket-wrapper">
                    <div class="am-scroller-ticket">
                      <div class="ticket-content">
                        <h2>New Ticket</h2>
                        <form>
                          <div class="form-group send-ticket">
                            <input class="form-control" type="text" placeholder="Title">
                          </div>
                          <div class="form-group send-ticket">
                            <textarea class="form-control" rows="3" placeholder="Write Here..."></textarea>
                          </div>
                          <button class="btn btn-primary btn-lg" type="submit">Create Ticket</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

<script src="/assets/lib/perfect-scrollbar/js/perfect-scrollbar.min.js" type="text/javascript"></script>
<script src="/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
<script src="/assets/js/app.js" type="text/javascript"></script>

<script>
$('.userName').text(sess.userName);
/*
<%if(sess.userDiv!='general'){%>
//////////////////////////////
const loadAlert=()=>{
  $('#alertTop').html('');
  $('#alertTopBtn').fadeOut();
  $('#alertIndi').hide();
  let {StndTranBaseYmd}=mkDate();
  let data={dt:StndTranBaseYmd};
  let url='/ajax/alert/load/'+StndTranBaseYmd;

  //pre(url);
  $.ajax({
    dataType:'json',method:'get',
    data:data,url:url,
    beforeSend:(xhr)=>{xhr.setRequestHeader("test",'xxxx');},
    success:function(rs){
      //pre(rs);
      if(rs.flag){
        if(Array.isArray(rs.alertList)){
          let alertAllLen=rs.alertList.length;
          $('#alertAllLen').text(nf(alertAllLen));

          if(alertAllLen){
            let alertList=rs.alertList.slice(0,5);

            for(let i in alertList){
              //pre(alertList[i]);
              let alert=alertList[i];
              let active='';
              let thisTime=+ new Date();
              if(thisTime-alert.time<1000*60*10){
                active='active';
                $('#alertIndi').show();
              }
              let linkColor='';
              //if(alert.type=='appStat') linkColor='black';
              $('#alertTop').append('<li class="'+active+'"><a href="/stat/alert">'
                +'<div class="logo"><span class="icon s7-gleam"></span></div>'
                +'<div class="user-content"><span class="name" style="color:'+linkColor+'">'+alert.appName+'<br>('+alert.title+')</span><br>'
                +'<span class="text-content">'+alert.data+'</span>'
                +'<span class="date">'+uTimeToDate(alert.time).substr(11,8)+'</span></div></a>'
              +'</li>');
            }
          }
          $('#alertTopBtn').fadeIn();
        }
        else $('#alertTopBtn').hide();
      }
    }
  });
}
loadAlert();
setInterval(()=>{
  loadAlert();
},1000*10);

<%}%>
*/
</script>