<%-include('./top.ejs')%>

      <div class="am-content">
        <div class="page-head">

          <h2><span class="icon s7-switch"></span> 버튼</h2>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">프로젝트</a></li>
            <li class="breadcrumb-item"><a href="/on">기타</a></li>
            <li class="breadcrumb-item active">버튼</li>
          </ol>
        </div>
        <div class="main-content">
          <div class="row">
            <div class="col-lg-4">
              <div class="card card-transparent">
                <div class="card-header text-center card-header-transparent-border-bottom">Default</div>
                <div class="card-body text-center">
                  <div class="content">
                    <button class="btn btn-secondary">Button Text</button>
                  </div>
                  <div class="color-swatch">
                    <div class="row colors">
                      <div class="col-4 clr-btn-secondary"></div>
                      <div class="col-4 clr-btn-secondary-hover"></div>
                      <div class="col-4 clr-btn-secondary-active"></div>
                    </div>
                    <div class="row desc">
                      <div class="col-4"><span>Normal</span></div>
                      <div class="col-4"><span>Hover</span></div>
                      <div class="col-4"><span>Active</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-transparent">
                <div class="card-header text-center card-header-transparent-border-bottom">Primary</div>
                <div class="card-body text-center">
                  <div class="content">
                    <button class="btn btn-primary">Button Text</button>
                  </div>
                  <div class="color-swatch">
                    <div class="row colors">
                      <div class="col-4 clr-btn-primary"></div>
                      <div class="col-4 clr-btn-primary-hover"></div>
                      <div class="col-4 clr-btn-primary-active"></div>
                    </div>
                    <div class="row desc">
                      <div class="col-4"><span>Normal</span></div>
                      <div class="col-4"><span>Hover</span></div>
                      <div class="col-4"><span>Active</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-transparent">
                <div class="card-header text-center card-header-transparent-border-bottom">Dark</div>
                <div class="card-body text-center">
                  <div class="content">
                    <button class="btn btn-dark">Button Text</button>
                  </div>
                  <div class="color-swatch">
                    <div class="row colors">
                      <div class="col-4 clr-btn-dark"></div>
                      <div class="col-4 clr-btn-dark-hover"></div>
                      <div class="col-4 clr-btn-dark-active"></div>
                    </div>
                    <div class="row desc">
                      <div class="col-4"><span>Normal</span></div>
                      <div class="col-4"><span>Hover</span></div>
                      <div class="col-4"><span>Active</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="card card-transparent">
                <div class="card-header text-center card-header-transparent-border-bottom">Alt Color 1</div>
                <div class="card-body text-center">
                  <div class="content">
                    <button class="btn btn-alt1">Button Text</button>
                  </div>
                  <div class="color-swatch">
                    <div class="row colors">
                      <div class="col-4 clr-btn-alt1"></div>
                      <div class="col-4 clr-btn-alt1-hover"></div>
                      <div class="col-4 clr-btn-alt1-active"></div>
                    </div>
                    <div class="row desc">
                      <div class="col-4"><span>Normal</span></div>
                      <div class="col-4"><span>Hover</span></div>
                      <div class="col-4"><span>Active</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-transparent">
                <div class="card-header text-center card-header-transparent-border-bottom">Alt Color 2</div>
                <div class="card-body text-center">
                  <div class="content">
                    <button class="btn btn-alt2">Button Text</button>
                  </div>
                  <div class="color-swatch">
                    <div class="row colors">
                      <div class="col-4 clr-btn-alt2"></div>
                      <div class="col-4 clr-btn-alt2-hover"></div>
                      <div class="col-4 clr-btn-alt2-active"></div>
                    </div>
                    <div class="row desc">
                      <div class="col-4"><span>Normal</span></div>
                      <div class="col-4"><span>Hover</span></div>
                      <div class="col-4"><span>Active</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-transparent">
                <div class="card-header text-center card-header-transparent-border-bottom">Alt Color 3</div>
                <div class="card-body text-center">
                  <div class="content">
                    <button class="btn btn-alt3">Button Text</button>
                  </div>
                  <div class="color-swatch">
                    <div class="row colors">
                      <div class="col-4 clr-btn-alt3"></div>
                      <div class="col-4 clr-btn-alt3-hover"></div>
                      <div class="col-4 clr-btn-alt3-active"></div>
                    </div>
                    <div class="row desc">
                      <div class="col-4"><span>Normal</span></div>
                      <div class="col-4"><span>Hover</span></div>
                      <div class="col-4"><span>Active</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-transparent">
                <div class="card-header text-center card-header-transparent-border-bottom">Alt Color 4</div>
                <div class="card-body text-center">
                  <div class="content">
                    <button class="btn btn-alt4">Button Text</button>
                  </div>
                  <div class="color-swatch">
                    <div class="row colors">
                      <div class="col-4 clr-btn-alt4"></div>
                      <div class="col-4 clr-btn-alt4-hover"></div>
                      <div class="col-4 clr-btn-alt4-active"></div>
                    </div>
                    <div class="row desc">
                      <div class="col-4"><span>Normal</span></div>
                      <div class="col-4"><span>Hover</span></div>
                      <div class="col-4"><span>Active</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="card card-transparent">
                <div class="card-header text-center card-header-transparent-border-bottom">Success</div>
                <div class="card-body text-center">
                  <div class="content">
                    <button class="btn btn-success">Button Text</button>
                  </div>
                  <div class="color-swatch">
                    <div class="row colors">
                      <div class="col-4 clr-btn-success"></div>
                      <div class="col-4 clr-btn-success-hover"></div>
                      <div class="col-4 clr-btn-success-active"></div>
                    </div>
                    <div class="row desc">
                      <div class="col-4"><span>Normal</span></div>
                      <div class="col-4"><span>Hover</span></div>
                      <div class="col-4"><span>Active</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-transparent">
                <div class="card-header text-center card-header-transparent-border-bottom">Info</div>
                <div class="card-body text-center">
                  <div class="content">
                    <button class="btn btn-info">Button Text</button>
                  </div>
                  <div class="color-swatch">
                    <div class="row colors">
                      <div class="col-4 clr-btn-info"></div>
                      <div class="col-4 clr-btn-info-hover"></div>
                      <div class="col-4 clr-btn-info-active"></div>
                    </div>
                    <div class="row desc">
                      <div class="col-4"><span>Normal</span></div>
                      <div class="col-4"><span>Hover</span></div>
                      <div class="col-4"><span>Active</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-transparent">
                <div class="card-header text-center card-header-transparent-border-bottom">Warning</div>
                <div class="card-body text-center">
                  <div class="content">
                    <button class="btn btn-warning">Button Text</button>
                  </div>
                  <div class="color-swatch">
                    <div class="row colors">
                      <div class="col-4 clr-btn-warning"></div>
                      <div class="col-4 clr-btn-warning-hover"></div>
                      <div class="col-4 clr-btn-warning-active"></div>
                    </div>
                    <div class="row desc">
                      <div class="col-4"><span>Normal</span></div>
                      <div class="col-4"><span>Hover</span></div>
                      <div class="col-4"><span>Active</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="card card-transparent">
                <div class="card-header text-center card-header-transparent-border-bottom">Danger</div>
                <div class="card-body text-center">
                  <div class="content">
                    <button class="btn btn-danger">Button Text</button>
                  </div>
                  <div class="color-swatch">
                    <div class="row colors">
                      <div class="col-4 clr-btn-danger"></div>
                      <div class="col-4 clr-btn-danger-hover"></div>
                      <div class="col-4 clr-btn-danger-active"></div>
                    </div>
                    <div class="row desc">
                      <div class="col-4"><span>Normal</span></div>
                      <div class="col-4"><span>Hover</span></div>
                      <div class="col-4"><span>Active</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3>Buttons Size</h3>
                </div>
                <div class="card-body">
                  <div class="mt-4 mb-6">
                    <h4>Sizes</h4>
                    <p>There are 4 types of button size: <code>.btn-xs</code>, <code>.btn-sm</code>, <code>.btn</code>, <code>.btn-lg</code>.</p>
                    <button class="btn btn-space btn-secondary btn-xs">Extra Small</button>
                    <button class="btn btn-space btn-secondary btn-sm">Small</button>
                    <button class="btn btn-space btn-secondary">Normal</button>
                    <button class="btn btn-space btn-secondary btn-lg">Extra Large</button>
                  </div>
                  <div class="mt-4 mb-3">
                    <div class="row">
                      <div class="col-md-6">
                        <h4>Icon buttons</h4>
                        <p>Font icons inside buttons</p>
                        <button class="btn btn-space btn-secondary btn-xs"><i class="icon s7-leaf"></i></button>
                        <button class="btn btn-space btn-secondary btn-sm"><i class="icon s7-leaf"></i></button>
                        <button class="btn btn-space btn-secondary"><i class="icon s7-leaf"></i></button>
                        <button class="btn btn-space btn-secondary btn-lg"><i class="icon s7-leaf"></i></button>
                      </div>
                      <div class="col-md-6">
                        <h4>Primary Color</h4>
                        <p>Font icons inside buttons</p>
                        <button class="btn btn-space btn-primary btn-xs"><i class="icon s7-leaf"></i></button>
                        <button class="btn btn-space btn-primary btn-sm"><i class="icon s7-leaf"></i></button>
                        <button class="btn btn-space btn-primary"><i class="icon s7-leaf"></i></button>
                        <button class="btn btn-space btn-primary btn-lg"><i class="icon s7-leaf"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3>Button Combinations</h3>
                </div>
                <div class="card-body">
                  <div class="mt-4 mb-6">
                    <h4>Text with icon buttons</h4>
                    <p>Icons with text inside buttons</p>
                    <button class="btn btn-space btn-success btn-xs"><i class="icon icon-left s7-cloud-download"></i> Download</button>
                    <button class="btn btn-space btn-success btn-sm"><i class="icon icon-left s7-cloud-download"></i> Download</button>
                    <button class="btn btn-space btn-success"><i class="icon icon-left s7-cloud-download"></i> Download</button>
                    <button class="btn btn-space btn-success btn-lg"><i class="icon icon-left s7-cloud-download"></i> Download</button>
                  </div>
                  <div class="mt-4 mb-3">
                    <h4>Rounded Corners</h4>
                    <p>Add rounded conrners to buttons appying the class <code>.btn-rounded</code></p>
                    <button class="btn btn-space btn-primary btn-rounded btn-xs"><i class="icon icon-left s7-cloud-download"></i> Download</button>
                    <button class="btn btn-space btn-primary btn-rounded btn-sm"><i class="icon icon-left s7-cloud-download"></i> Download</button>
                    <button class="btn btn-space btn-primary btn-rounded"><i class="icon icon-left s7-cloud-download"></i> Download</button>
                    <button class="btn btn-space btn-primary btn-rounded btn-lg"><i class="icon icon-left s7-cloud-download"></i> Download</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3>Button Groups</h3>
                </div>
                <div class="card-body">
                  <h4>Button toolbar</h4>
                  <p>Example of button group like a toolbar</p>
                  <div class="mb-6">
                    <div class="btn-toolbar">
                      <div class="btn-group btn-space">
                        <button class="btn btn-secondary"><i class="icon s7-home"></i></button>
                        <button class="btn btn-secondary"><i class="icon s7-mail"></i></button>
                        <button class="btn btn-secondary"><i class="icon s7-cloud"></i></button>
                        <button class="btn btn-secondary"><i class="icon s7-anchor"></i></button>
                      </div>
                      <div class="btn-group btn-space">
                        <button class="btn btn-secondary"><i class="icon s7-config"></i></button>
                        <button class="btn btn-secondary"><i class="icon s7-display2"></i></button>
                        <button class="btn btn-secondary"><i class="icon s7-gleam"></i></button>
                      </div>
                      <div class="btn-group btn-space">
                        <button class="btn btn-secondary"><i class="icon s7-help2"></i></button>
                        <button class="btn btn-secondary"><i class="icon s7-like"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="mt-7">
                    <h4>Horizontal groups</h4>
                    <p>Buttons group with different shade colors</p>
                    <div class="mb-3">
                      <div class="btn-group btn-group-justified"><a class="btn btn-primary btn-rad" href="#">Home</a><a class="btn btn-primary btn-shade1" href="#">Gallery</a><a class="btn btn-primary" href="#">Services</a><a class="btn btn-primary" href="#">Contact</a><a class="btn btn-primary btn-rad" href="#">Support</a><a class="btn btn-primary btn-rad" href="#">Help</a></div>
                    </div>
                    <div class="mb-3">
                      <div class="btn-group btn-group-justified"><a class="btn btn-alt1 btn-rad" href="#">Home</a><a class="btn btn-alt1" href="#">Gallery</a><a class="btn btn-alt1" href="#">Services</a><a class="btn btn-alt1" href="#">Contact</a><a class="btn btn-alt1 btn-shade1 btn-rad" href="#">Support</a><a class="btn btn-alt1 btn-rad" href="#">Help</a></div>
                    </div>
                    <div class="mb-3">
                      <div class="btn-group btn-group-justified"><a class="btn btn-alt2 btn-rad" href="#">Home</a><a class="btn btn-alt2" href="#">Gallery</a><a class="btn btn-alt2" href="#">Services</a><a class="btn btn-alt2" href="#">Contact</a><a class="btn btn-alt2 btn-shade1 btn-rad" href="#">Support</a><a class="btn btn-alt2 btn-rad" href="#">Help</a></div>
                    </div>
                    <div class="mb-3">
                      <div class="btn-group btn-group-justified"><a class="btn btn-alt3 btn-shade2 btn-rad" href="#">Home</a><a class="btn btn-alt3" href="#">Gallery</a><a class="btn btn-alt3" href="#">Services</a><a class="btn btn-alt3" href="#">Contact</a><a class="btn btn-alt3 btn-rad" href="#">Support</a><a class="btn btn-alt3 btn-rad" href="#">Help</a></div>
                    </div>
                    <div class="mb-3">
                      <div class="btn-group btn-group-justified"><a class="btn btn-alt4 btn-rad" href="#">Home</a><a class="btn btn-alt4" href="#">Gallery</a><a class="btn btn-alt4" href="#">Services</a><a class="btn btn-alt4" href="#">Contact</a><a class="btn btn-alt4 btn-shade2 btn-rad" href="#">Support</a><a class="btn btn-alt4 btn-rad" href="#">Help</a></div>
                    </div>
                    <div class="mb-6">
                      <div class="btn-group btn-group-justified"><a class="btn btn-dark btn-rad" href="#">Home</a><a class="btn btn-dark" href="#">Gallery</a><a class="btn btn-dark" href="#">Services</a><a class="btn btn-dark" href="#">Contact</a><a class="btn btn-dark btn-shade2 btn-rad" href="#">Support</a><a class="btn btn-dark btn-rad" href="#">Help</a></div>
                    </div>
                  </div>
                  <div class="mb-2 mt-7">
                    <h4>Vertical groups</h4>
                    <p>Buttons group with different shade colors</p>
                    <div class="btn-group-vertical btn-space">
                      <button class="btn btn-primary">Top</button>
                      <button class="btn btn-primary btn-shade2">Middle</button>
                      <button class="btn btn-primary btn-shade4">Bottom</button>
                    </div>
                    <div class="btn-group-vertical btn-space">
                      <button class="btn btn-success">Top</button>
                      <button class="btn btn-success btn-shade2">Middle</button>
                      <button class="btn btn-success btn-shade4">Bottom</button>
                    </div>
                    <div class="btn-group-vertical btn-space">
                      <button class="btn btn-info">Top</button>
                      <button class="btn btn-info btn-shade2">Middle</button>
                      <button class="btn btn-info btn-shade4">Bottom</button>
                    </div>
                    <div class="btn-group-vertical btn-space">
                      <button class="btn btn-warning">Top</button>
                      <button class="btn btn-warning btn-shade2">Middle</button>
                      <button class="btn btn-warning btn-shade4">Bottom</button>
                    </div>
                    <div class="btn-group-vertical btn-space">
                      <button class="btn btn-danger">Top</button>
                      <button class="btn btn-danger btn-shade2">Middle</button>
                      <button class="btn btn-danger btn-shade4">Bottom</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-header">
                  <h3>Dropdown Buttons</h3>
                </div>
                <div class="card-body">
                  <h4>Buttons with dropdown</h4>
                  <p>Examples of buttons with dropdown menu</p>
                  <div class="mt-4">
                    <div class="btn-group btn-hspace">
                      <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Basic Dropdown <span class="caret"></span></button>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                    <div class="btn-group btn-hspace">
                      <button class="btn btn-secondary">Split Dropdown</button>
                      <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                  <div class="mt-6">
                    <p>Split state dropdown toggle</p>
                    <div class="btn-group btn-space">
                      <button class="btn btn-secondary">Primary</button>
                      <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                    <div class="btn-group btn-space">
                      <button class="btn btn-secondary">Success</button>
                      <button class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                    <div class="btn-group btn-space">
                      <button class="btn btn-secondary">Info</button>
                      <button class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                    <div class="btn-group btn-space">
                      <button class="btn btn-secondary">Warning</button>
                      <button class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                    <div class="btn-group btn-space">
                      <button class="btn btn-secondary">Danger</button>
                      <button class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                  <div class="mt-6">
                    <div class="btn-group btn-space">
                      <button class="btn btn-primary">Primary</button>
                      <button class="btn btn-primary btn-shade1 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                    <div class="btn-group btn-space">
                      <button class="btn btn-success">Success</button>
                      <button class="btn btn-success btn-shade2 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                    <div class="btn-group btn-space">
                      <button class="btn btn-info">Info</button>
                      <button class="btn btn-info btn-shade2 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                    <div class="btn-group btn-space">
                      <button class="btn btn-warning">Warning</button>
                      <button class="btn btn-warning btn-shade2 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                    <div class="btn-group btn-space">
                      <button class="btn btn-danger">Danger</button>
                      <button class="btn btn-danger btn-shade2 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                  <div class="mt-6">
                    <div class="btn-group btn-space">
                      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Primary <span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                    <div class="btn-group btn-space">
                      <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Success <span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                    <div class="btn-group btn-space">
                      <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">Info <span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                    <div class="btn-group btn-space">
                      <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Warning <span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                    <div class="btn-group btn-space">
                      <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Danger <span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                      <div class="dropdown-menu"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h3>Social</h3>
                </div>
                <div class="card-body">
                  <p>Social network button styles</p>
                  <div class="mt-4">
                    <button class="btn btn-space btn-secondary"><i class="fa fa-facebook"></i></button>
                    <button class="btn btn-space btn-secondary"><i class="fa fa-twitter"></i></button>
                    <button class="btn btn-space btn-secondary"><i class="fa fa-google-plus"></i></button>
                    <button class="btn btn-space btn-secondary"><i class="fa fa-dribbble"></i></button>
                    <button class="btn btn-space btn-secondary"><i class="fa fa-flickr"></i></button>
                    <button class="btn btn-space btn-secondary"><i class="fa fa-linkedin"></i></button>
                    <button class="btn btn-space btn-secondary"><i class="fa fa-youtube-play"></i></button>
                    <button class="btn btn-space btn-secondary"><i class="fa fa-pinterest"></i></button>
                    <button class="btn btn-space btn-secondary"><i class="fa fa-github"></i></button>
                    <button class="btn btn-space btn-secondary"><i class="fa fa-tumblr"></i></button>
                  </div>
                  <div class="mt-2">
                    <button class="btn btn-space btn-secondary btn-facebook"><i class="fa fa-facebook"></i></button>
                    <button class="btn btn-space btn-secondary btn-twitter"><i class="fa fa-twitter"></i></button>
                    <button class="btn btn-space btn-secondary btn-google-plus"><i class="fa fa-google-plus"></i></button>
                    <button class="btn btn-space btn-secondary btn-dribbble"><i class="fa fa-dribbble"></i></button>
                    <button class="btn btn-space btn-secondary btn-flickr"><i class="fa fa-flickr"></i></button>
                    <button class="btn btn-space btn-secondary btn-linkedin"><i class="fa fa-linkedin"></i></button>
                    <button class="btn btn-space btn-secondary btn-youtube"><i class="fa fa-youtube-play"></i></button>
                    <button class="btn btn-space btn-secondary btn-pinterest"><i class="fa fa-pinterest"></i></button>
                    <button class="btn btn-space btn-secondary btn-github"><i class="fa fa-github"></i></button>
                    <button class="btn btn-space btn-secondary btn-tumblr"><i class="fa fa-tumblr"></i></button>
                  </div>
                  <div class="mt-2">
                    <button class="btn btn-social btn-space btn-facebook"><i class="fa fa-facebook"></i></button>
                    <button class="btn btn-social btn-space btn-twitter"><i class="fa fa-twitter"></i></button>
                    <button class="btn btn-social btn-space btn-google-plus"><i class="fa fa-google-plus"></i></button>
                    <button class="btn btn-social btn-space btn-dribbble"><i class="fa fa-dribbble"></i></button>
                    <button class="btn btn-social btn-space btn-flickr"><i class="fa fa-flickr"></i></button>
                    <button class="btn btn-social btn-space btn-linkedin"><i class="fa fa-linkedin"></i></button>
                    <button class="btn btn-social btn-space btn-youtube"><i class="fa fa-youtube-play"></i></button>
                    <button class="btn btn-social btn-space btn-pinterest"><i class="fa fa-pinterest"></i></button>
                    <button class="btn btn-social btn-space btn-github"><i class="fa fa-github"></i></button>
                    <button class="btn btn-social btn-space btn-tumblr"><i class="fa fa-tumblr"></i></button>
                  </div>
                  <div class="mt-2">
                    <div class="btn-group btn-space">
                      <button class="btn btn-sm btn-social btn-facebook"><i class="fa fa-facebook"></i></button>
                      <button class="btn btn-sm btn-secondary">Like</button>
                    </div>
                    <div class="btn-group btn-space">
                      <button class="btn btn-sm btn-social btn-twitter"><i class="fa fa-twitter"></i></button>
                      <button class="btn btn-sm btn-secondary">Follow Me</button>
                    </div>
                    <div class="btn-group btn-space">
                      <button class="btn btn-sm btn-social btn-google-plus"><i class="fa fa-google-plus"></i></button>
                      <button class="btn btn-sm btn-secondary">Plus One</button>
                    </div>
                    <div class="btn-group btn-space">
                      <button class="btn btn-sm btn-social btn-github"><i class="fa fa-github"></i></button>
                      <button class="btn btn-sm btn-secondary">Fork</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<%-include('./down.ejs')%>

<script type="text/javascript">
menuActive({
  src:'<%=src%>',
  dir:'<%=dir%>'
});

$(document).ready(function(){
  //- initialize the javascript
  App.init();
});

</script>
</body>
</html>