<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
    <link rel="stylesheet" href="src/css/reset.css">
    <link rel="stylesheet" href="src/css/default.css">
    <title>ESP System - CRM</title>
</head>

<body>
    <div class="main-login">
        <section class="infomation-section">
            <div>
                <img src="src/img/logo.png" alt="">
            </div>
            <h1>기업자금관리 시스템의 최강자</h1>
            <h2>"이젠 모든 금융기관의 업무 ESP-CMS 단 하나로 해결합니다."</h2>
            <div>
                <p>1) 통합자금관리</p>
                <p>2) 법인카드 통합관리</p>
                <p>3) 전자세금계산서 발행 및 관리</p>
                <p>4) 세금공과금 납부 서비스</p>
            </div>
            <p>ESP-CMS 의 다양한 특화 서비스를 체험해 보세요!</p>
            <div class="blue-button m-size-text bold-text"> 상세보기</div>
            <div class="box-container">
                <div class="box shadow-20">
                    <h2 class="title-black">서비스 바로가기</h2>
                    <div class="services-link medium-text m-size-text">
                        <div>ESP-CMS<br />가상체험</div>
                        <div>ESP-ERP</div>
                        <div>원격지원</div>
                    </div>
                    <div class="consulting">
                        <h2 class="title-black">고객상담센터</h2>
                        <h1 class="bold-text">1599-1111</h1>
                        <p class="light-text s-size-text">운영시간 : 평일 09:00 ~ 18:00</p>
                    </div>
                </div>

                <div class="box shadow-20 login-notice">
                    <h2 class="title-black">공지사항</h2>
                    <ul>
                        <li>
                            <h4>ESP-CMS 원격지원 서비스 지원 안내</h4>
                            <p>2022-08-10</p>
                        </li>
                        <li>
                            <h4></h4>
                            <p></p>
                        </li>
                        <li>
                            <h4></h4>
                            <p></p>
                        </li>
                        <li>
                            <h4></h4>
                            <p></p>
                        </li>
                        <li>
                            <h4></h4>
                            <p></p>
                        </li>
                    </ul>

                </div>
            </div>

        </section>
        <section class="login-section box shadow-20">
            <div class="logo-wrapper">
                <img src="src/img/logo.png" alt="logo">
            </div>
            <h1>LOGIN</h1>
            <hr />
            <div>
                <h2 class="title-black">ESP-CMS 사용자 로그인</h2>
                <form>
                    <div class="input-container">
                        <input type="text" name="" id="" placeholder="아이디" />
                        <input type="password" name="" id="" placeholder="비밀번호" />
                    </div>
                    <div class="m-size-text bold-text login-button">
                        <p>로그인</p>
                    </div>
                </form>
            </div>
            <div class="certificate-login">
                <h2 class="title-black">공인인증서 로그인</h2>
                <div class="blue-button m-size-text bold-text">공인인증서 로그인</div>
                <a href="#" target="_blank">
                    <p class="medium-text s-size-text">>> 공인인증센터 바로가기</p>
                </a>
                <p class="xs-size-text light-text">(인증서 신규, 재발급, 갱신 서비스)</p>
            </div>
        </section>
    </div>
    <footer>
        <div>
            <a href="#">
                <p class="ligth-text s-size-text">ESP SYSTEM ALL 바로가기</p>
            </a>
            <p class="light-text xs-size-text">COPYRIGHT 2022 ESP SYSTEM ALL RIGHTS RESERVED.</p>
        </div>
        <div class="logo-wrapper">
            <img src="src/img/logo_white.png" alt="푸터 로고" />
        </div>
    </footer>

</body>

</html>