<html lang="ko"><head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>ESP System - CRM</title>

<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Material+Symbols+Rounded">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">

<link rel="stylesheet" href="src/css/reset.css">
<link rel="stylesheet" href="src/css/default.css">
<script src="src/js/jquery_361.js"></script>
<script src="src/js/util.js"></script>


</head>

<body>
    <div class="main-login">
      <section class="infomation-section">
        <div>
          <a href="memLogin.html">
            <img src="src/img/logo.png" alt="">
          </a>
        </div>
        <h1>기업자금관리 시스템의 최강자</h1>
        <h2>"이젠 모든 금융기관의 업무 ESP-CMS 단 하나로 해결합니다."</h2>
        <div>
          <p>1) 통합자금관리</p>
          <p>2) 법인카드 통합관리</p>
          <p>3) 전자세금계산서 발행 및 관리</p>
          <p>4) 세금공과금 납부 서비스</p>
        </div>
        <p>ESP-CMS 의 다양한 특화 서비스를 체험해 보세요!</p>
        <div class="blue-button m-size-text bold-text"> 상세보기</div>
        <div class="box-container">
          <div class="box shadow-20">
            <h2 class="title-black">서비스 바로가기</h2>
            <div class="services-link medium-text m-size-text">
              <div onclick="href('memCreate.html');" style="cursor: pointer;">
                <span class="material-symbols-rounded" style="color: rgb(0, 204, 204);">person</span> 회원가입
              </div>
              <div onclick="href('accList.html');" style="cursor: pointer;">
                <span class="material-symbols-rounded" style="color: rgb(0, 204, 204);">payments</span> 계좌조회
              </div>
              <div onclick="href('cardList.html');" style="cursor: pointer;">
                <span class="material-symbols-rounded" style="color: rgb(0, 204, 204);">credit_card</span> 카드조회
              </div>
            </div>
            <div class="consulting">
              <h2 class="title-black">고객상담센터</h2>
              <h1 class="bold-text">1234-1234</h1>
              <p class="light-text s-size-text">운영시간 : 평일 09:00 ~ 18:00</p>
            </div>
            <br>
            <br>
            <span onclick="wOpen('devIcons.html');" style="cursor: pointer;"><span class="material-symbols-rounded" style="color: rgb(0, 51, 153);">rocket_launch</span>icon </span> &nbsp;
            <span onclick="wOpen('https://v3.ko.vuejs.org/guide/data-methods.html#methods');" style="cursor: pointer;"><span class="material-symbols-rounded" style="color: rgb(0, 51, 153);">menu_book</span>Manual </span> &nbsp;
            <span onclick="wOpen('popup.html',true);" style="cursor: pointer;"><span class="material-symbols-rounded" style="color: rgb(0, 51, 153);">library_add</span>Pop </span> &nbsp;
            <span onclick="href('index.html');" style="cursor: pointer;"><span class="material-symbols-rounded" style="color: rgb(0, 51, 153);">corporate_fare</span>Index </span>
            <br>
            <span onclick="href('1.html');" style="cursor: pointer;"><span class="material-symbols-rounded" style="color: rgb(0, 51, 153);">feed</span>Page1 </span> &nbsp;
            <span onclick="href('2.html');" style="cursor: pointer;"><span class="material-symbols-rounded" style="color: rgb(0, 51, 153);">feed</span>Page2 </span> &nbsp;
            <span onclick="href('3.html');" style="cursor: pointer;"><span class="material-symbols-rounded" style="color: rgb(0, 51, 153);">feed</span>Page3 </span> &nbsp;
            <span onclick="href('4.html');" style="cursor: pointer;"><span class="material-symbols-rounded" style="color: rgb(0, 51, 153);">feed</span>Page4 </span>
          </div>
          <div class="box shadow-20 login-notice">
            <h2 class="title-black">공지사항</h2>
            <ul>
              <li>
                <h4>ESP-CMS 원격지원 서비스 지원 안내</h4>
                <p>0000-00-00</p>
              </li>
              <li>
                <h4>전자세금계산서 발행 및 관리</h4>
                <p>0000-00-00</p>
              </li>
              <li>
                <h4>기업자금관리 시스템의 최강자</h4>
                <p>0000-00-00</p>
              </li>
              <li>
                <h4>ESP-CMS의 특화 서비스를 체험해 보세요!</h4>
                <p>0000-00-00</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="login-section box shadow-20">
        <div class="logo-wrapper">
          <img src="src/img/logo.png" alt="logo">
        </div>
        <h1>LOGIN</h1>
        <hr>
        <div>
          <h2 class="title-black">ESP-CMS 사용자 로그인</h2>
          <form>
            <div class="input-container">
              <input type="text" name="" id="userID" placeholder="아이디">
              <input type="password" name="" id="userPS" placeholder="비밀번호">
            </div>

            <div onclick="href('memList.html');" class="m-size-text bold-text login-button">
              <p>
                <span class="material-symbols-rounded" style="color: rgb(0, 204, 204);">login</span>
                <span style="vertical-align: 5px;">로그인</span>
              </p>
            </div>

          </form>
        </div>
        <div class="certificate-login">
          <h2 class="title-black">공인인증서 로그인</h2>
          <div class="blue-button m-size-text bold-text">공인인증서 로그인</div>
          <a href="#">
            <p class="medium-text s-size-text">&gt;&gt; 공인인증센터 바로가기</p>
          </a>
          <p class="xs-size-text light-text">(인증서 신규, 재발급, 갱신 서비스)</p>
        </div>
      </section>
    </div>
    <footer>
      <div>
        <p class="light-text xs-size-text">COPYRIGHT 2022 ESP SYSTEM ALL RIGHTS RESERVED.</p>
      </div>
      <div class="logo-wrapper">
        <img src="src/img/logo_white.png" alt="푸터 로고">
      </div>
    </footer>
</body>

<script>
/////////////
const debug=(data,name,flag)=>{
  name=name||'';
  if(flag && data) console.log(data,name,JSON.stringify(data));
  const debugName=ut.qs('#debugName');
  const debug=ut.qs('#debug');
  if(debugName && name) debugName.innerHTML=name;
  if(debug && data) debug.innerHTML=JSON.stringify(data,null,4);
}
/////////////
const wOpen=(url,flag)=>{
  if(flag) window.open(url,'popup','width=1200px,height=1000px,toolbars=no,scrollbars=no');//팝업으로 열기
  else window.open(url,'_blank');//새탭으로 열기
}
/////////////
const href=(url)=>{
  document.location.href=url;
}
</script>

</html>