<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="assets/img/favicon.png">
  <title>Amaretti</title>
  <link rel="stylesheet" type="text/css" href="assets/lib/stroke-7/style.css"/>
  <link rel="stylesheet" type="text/css" href="assets/lib/perfect-scrollbar/css/perfect-scrollbar.css"/>
  <link rel="stylesheet" href="assets/css/app.css" type="text/css"/>
</head>
<body class="am-splash-screen">
  <div class="am-wrapper am-error am-error-404">
    <div class="am-content">
      <div class="main-content">
        <div class="error-container">
          <div class="error-image"></div>
          <div class="error-number">404</div>
          <p class="error-description">The page you are looking for might have been removed.</p>
          <div class="error-goback-text">Would you like to go <a href="#">home</a>?</div>
          <div class="footer">&copy; 2015 <a href="#">Your Company</a></div>
        </div>
      </div>
    </div>
  </div>
  <script src="assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
  <script src="assets/lib/perfect-scrollbar/js/perfect-scrollbar.min.js" type="text/javascript"></script>
  <script src="assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
  <script src="assets/js/app.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function(){
    	//- initialize the javascript
    	App.init();
    });
    
  </script>
</body>