<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="ESP systems">
<title>NodeBreaker Test</title>
<script src="//code.jquery.com/jquery-3.6.0.min.js" ></script>
<link href="dist/css/bootstrap.min.css" rel="stylesheet">
<link href="custom.css" rel="stylesheet">
<style>
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css")
</style>
</head>
<body>

<div id="head">
  <a href="#" id="secretBtn">N</a><a href="/">odeBreaker Test</a>
</div>
<div id="menu" class="col-md-2" style="margin-bottom:20px;">
  <a href="/TEST1"><div class="mnItem btn btn-default"><strong>ND_METH_TEST1</strong> httpPOST</div></a><br>
  <a href="/TEST2"><div class="mnItem btn btn-default"><strong>ND_METH_TEST2</strong> httpGET</div></a><br>
  <a href="/TEST3"><div class="mnItem btn btn-default"><strong>ND_METH_TEST3</strong> tcpSocket</div></a><br>
  <a href="/TEST4"><div class="mnItem btn btn-default"><strong>ND_METH_TEST4</strong> webSocket</div></a><br>
  <!-- <a href="/nodeSchemas" target="_blank"><div class="mnItem btn btn-info"><strong>스키마</strong></div></a>
  <a href="http://222.108.224.3:700" target="_blank"><div class="mnItem btn btn-info"><strong>데모 사이트</strong></div></a> -->
</div>
